In [1]:
import numpy as np
import pandas as pd

In [2]:
bollywood_crew_1950_to_2019 = pd.read_csv('./1950-2019/bollywood_crew_1950-2019.csv')
bollywood_crew_data_1950_to_2019 = pd.read_csv('./1950-2019/bollywood_crew_data_1950-2019.csv')
bollywood_full_1950_to_2019 = pd.read_csv('./1950-2019/bollywood_full_1950-2019.csv')

In [3]:
bollywood_crew_1950_to_2019.head()

     imdb_id  directors                        writers
0  tt0042184  nm0025608            nm0025608|nm0324690
1  tt0042207  nm0490178            nm0161032|nm1879927
2  tt0042225  nm0707533                             \N
3  tt0042233  nm0788880            nm0592578|nm0788880
4  tt0042380  nm0439074  nm1278450|nm0438022|nm1301772

In [4]:
bollywood_crew_data_1950_to_2019.head()

,crew_id,name,born_year,death_year,profession,known_for
0,nm0001408,Shekhar Kapur,1945,\N,actor|director|producer,tt0240510|tt0414055|tt0109206|tt0127536
1,nm0002172,Mukul Anand,1951,1997,director|writer|producer,tt0104607|tt0102201|tt0098999|tt0092026
2,nm0002411,Mani Kaul,1944,2011,director|writer|actor,tt0207626|tt0066514|tt0070009|tt0102515
3,nm0003939,Vikramaditya Motwane,1976,\N,producer|writer|director,tt0238936|tt3322420|tt1639426|tt1327035
4,nm0004072,Kaizad Gustad,1968,\N,director|writer|miscellaneous,tt0330082|tt3309662|tt0168529|tt0819646

In [5]:
bollywood_crew_1950_to_2019.rename(columns={'directors':'crew_id'},inplace=True)

In [6]:
bollywood_crew_1950_to_2019.head()

     imdb_id    crew_id                        writers
0  tt0042184  nm0025608            nm0025608|nm0324690
1  tt0042207  nm0490178            nm0161032|nm1879927
2  tt0042225  nm0707533                             \N
3  tt0042233  nm0788880            nm0592578|nm0788880
4  tt0042380  nm0439074  nm1278450|nm0438022|nm1301772

In [7]:
bollywood_crew_1950_to_2019 = bollywood_crew_1950_to_2019.merge(bollywood_crew_data_1950_to_2019,on='crew_id')

In [8]:
bollywood_crew_1950_to_2019.head()

,imdb_id,crew_id,writers,name,born_year,death_year,profession,known_for
0,tt0042184,nm0025608,nm0025608|nm0324690,Chetan Anand,1921,1997,director|writer|actor,tt0154942|tt0154749|tt0154565|tt0140784
1,tt0047561,nm0025608,nm0025608|nm0025628|nm0025629,Chetan Anand,1921,1997,director|writer|actor,tt0154942|tt0154749|tt0154565|tt0140784
2,tt0049243,nm0025608,\N,Chetan Anand,1921,1997,director|writer|actor,tt0154942|tt0154749|tt0154565|tt0140784
3,tt0139402,nm0025608,nm0025608|nm1466022,Chetan Anand,1921,1997,director|writer|actor,tt0154942|tt0154749|tt0154565|tt0140784
4,tt0148266,nm0025608,nm0025608|nm0044340|nm1532978,Chetan Anand,1921,1997,director|writer|actor,tt0154942|tt0154749|tt0154565|tt0140784

In [9]:
new_df = bollywood_full_1950_to_2019.merge(bollywood_crew_1950_to_2019,on='imdb_id')

In [10]:
new_df.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,...,actors,wins_nominations,release_date,crew_id,writers,name,born_year,death_year,profession,known_for
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,...,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA),nm2336554,nm2336554,Aditya Dhar,\N,\N,writer|director|music_department,tt1706317|tt0770214|tt1708453|tt8291224
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,...,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India),nm10342614,nm2366632,Brijesh Batuknath Tripathi,\N,\N,director|producer,tt9472208|tt1825833
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,...,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA),nm9049092,nm9049093|nm10376880|nm9049092|nm4577451|nm103...,Vijay Ratnakar Gutte,\N,\N,director,tt6986710
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,...,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA),nm2265536,nm8006178,Soumik Sen,\N,\N,writer|director|music_department,tt9179414|tt2573750|tt1314367|tt5912310
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,...,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India),nm1482161,nm1481242|nm1482161,Sridhar Rangayan,\N,\N,director|writer|producer,tt0999927|tt6028796|tt1151299|tt4440690

In [11]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4251 entries, 0 to 4250
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           4251 non-null   object
 1   imdb_id           4251 non-null   object
 2   poster_path       3532 non-null   object
 3   wiki_link         4251 non-null   object
 4   title_y           4251 non-null   object
 5   original_title    4251 non-null   object
 6   is_adult          4251 non-null   int64
 7   year_of_release   4251 non-null   object
 8   runtime           4251 non-null   object
 9   genres            4251 non-null   object
 10  imdb_rating       4239 non-null   float64
 11  imdb_votes        4239 non-null   float64
 12  story             3990 non-null   object
 13  summary           4251 non-null   object
 14  tagline           668 non-null    object
 15  actors            4242 non-null   object
 16  wins_nominations  1364 non-null   object
 17  release_date      2984 non-null   object
 18  crew_id           4251 non-null   object
 19  writers           4251 non-null   object
 20  name              4251 non-null   object
 21  born_year         4251 non-null   object
 22  death_year        4251 non-null   object
 23  profession        4250 non-null   object
 24  known_for         4251 non-null   object
dtypes: float64(2), int64(1), object(22)
memory usage: 863.5+ KB

In [12]:
# only going to store this columns
# imdb_id
# original_title
# poster_path
# genres
# summary
# actors
# tagline           
# name_x

In [13]:
new_df = new_df[['imdb_id','original_title','poster_path','tagline','genres','summary','actors','name']]

In [14]:
new_df = new_df.drop_duplicates()

In [15]:
new_df.isnull().sum()

imdb_id              0
original_title       0
poster_path        715
tagline           3463
genres               0
summary              0
actors               9
name                 0
dtype: int64

In [16]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4114 entries, 0 to 4250
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         4114 non-null   object
 1   original_title  4114 non-null   object
 2   poster_path     3399 non-null   object
 3   tagline         651 non-null    object
 4   genres          4114 non-null   object
 5   summary         4114 non-null   object
 6   actors          4105 non-null   object
 7   name            4114 non-null   object
dtypes: object(8)
memory usage: 289.3+ KB

In [17]:
new_df.drop_duplicates(subset=["actors"], inplace=True)

In [18]:
new_df.rename(columns={'name':'director'},inplace=True)

In [19]:
new_df.head()

,imdb_id,original_title,poster_path,tagline,genres,summary,actors,director
0,tt8291224,Uri: The Surgical Strike,https://upload.wikimedia.org/wikipedia/en/thum...,NaN,Action|Drama|War,Indian army special forces execute a covert op...,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,Aditya Dhar
1,tt9472208,Battalion 609,NaN,NaN,War,The story of Battalion 609 revolves around a c...,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,Brijesh Batuknath Tripathi
2,tt6986710,The Accidental Prime Minister,https://upload.wikimedia.org/wikipedia/en/thum...,NaN,Biography|Drama,Explores Manmohan Singh's tenure as the Prime ...,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,Vijay Ratnakar Gutte
3,tt8108208,Why Cheat India,https://upload.wikimedia.org/wikipedia/en/thum...,NaN,Crime|Drama,The movie focuses on existing malpractices in ...,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,Soumik Sen
4,tt6028796,Evening Shadows,NaN,NaN,Drama,Under the 'Evening Shadows' truth often plays...,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,Sridhar Rangayan

In [20]:
new_df['genres'] = new_df['genres'].apply(lambda x:x.replace("|"," "))

In [21]:
new_df['actors'] = new_df['actors'].apply(lambda x:str(x).replace('|',',').replace(' ','').replace(',',' '))

In [22]:
new_df['actors'] = new_df['actors'].str.split().apply(lambda x: ' '.join(x[:2]))

In [23]:
new_df['director'] = new_df['director'].apply(lambda x:x.replace(" ",""))

In [24]:
# new_df['actors'] = new_df['actors'].apply(lambda x:x.split())

In [25]:
# new_df['director'] = new_df['director'].apply(lambda x:x.split())

In [26]:
# new_df['genres'] = new_df['genres'].apply(lambda x:x.split())

In [27]:
# new_df['summary'] = new_df['summary'].apply(lambda x:x.split())

In [28]:
new_df.head()

,imdb_id,original_title,poster_path,tagline,genres,summary,actors,director
0,tt8291224,Uri: The Surgical Strike,https://upload.wikimedia.org/wikipedia/en/thum...,NaN,Action Drama War,Indian army special forces execute a covert op...,VickyKaushal PareshRawal,AdityaDhar
1,tt9472208,Battalion 609,NaN,NaN,War,The story of Battalion 609 revolves around a c...,VickyAhuja ShoaibIbrahim,BrijeshBatuknathTripathi
2,tt6986710,The Accidental Prime Minister,https://upload.wikimedia.org/wikipedia/en/thum...,NaN,Biography Drama,Explores Manmohan Singh's tenure as the Prime ...,AnupamKher AkshayeKhanna,VijayRatnakarGutte
3,tt8108208,Why Cheat India,https://upload.wikimedia.org/wikipedia/en/thum...,NaN,Crime Drama,The movie focuses on existing malpractices in ...,EmraanHashmi ShreyaDhanwanthary,SoumikSen
4,tt6028796,Evening Shadows,NaN,NaN,Drama,Under the 'Evening Shadows' truth often plays...,MonaAmbegaonkar AnanthNarayanMahadevan,SridharRangayan

In [29]:
new_df['poster_path'].fillna('',inplace=True)

In [30]:
new_df['tags'] = new_df['actors'] + new_df['director'] + new_df['genres'] + new_df['summary']

In [31]:
new_df = new_df[['imdb_id','original_title','genres','tags']]

In [32]:
new_df.head()

,imdb_id,original_title,genres,tags
0,tt8291224,Uri: The Surgical Strike,Action Drama War,VickyKaushal PareshRawalAdityaDharAction Drama...
1,tt9472208,Battalion 609,War,VickyAhuja ShoaibIbrahimBrijeshBatuknathTripat...
2,tt6986710,The Accidental Prime Minister,Biography Drama,AnupamKher AkshayeKhannaVijayRatnakarGutteBiog...
3,tt8108208,Why Cheat India,Crime Drama,EmraanHashmi ShreyaDhanwantharySoumikSenCrime ...
4,tt6028796,Evening Shadows,Drama,MonaAmbegaonkar AnanthNarayanMahadevanSridharR...

In [33]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [34]:
new_df.head()

,imdb_id,original_title,genres,tags
0,tt8291224,Uri: The Surgical Strike,Action Drama War,vickykaushal pareshrawaladityadharaction drama...
1,tt9472208,Battalion 609,War,vickyahuja shoaibibrahimbrijeshbatuknathtripat...
2,tt6986710,The Accidental Prime Minister,Biography Drama,anupamkher akshayekhannavijayratnakarguttebiog...
3,tt8108208,Why Cheat India,Crime Drama,emraanhashmi shreyadhanwantharysoumiksencrime ...
4,tt6028796,Evening Shadows,Drama,monaambegaonkar ananthnarayanmahadevansridharr...

In [35]:
import nltk

In [36]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [37]:
ps.stem('Loving')

'love'

In [38]:
new_df.iloc[0].tags

'vickykaushal pareshrawaladityadharaction drama warindian army special forces execute a covert operation  avenging the killing of fellow army men at their base by a terrorist group.'

In [39]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [40]:
new_df['tags'] = new_df['tags'].apply(stem)

In [41]:
new_df.iloc[0].tags

'vickykaush pareshrawaladityadharact drama warindian armi special forc execut a covert oper aveng the kill of fellow armi men at their base by a terrorist group.'

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [43]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [44]:
vectors.shape

(4099, 5000)

In [45]:
cv.get_feature_names()

c:\users\ansar\onedrive\desktop\machine-learning-projects\.venv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '10',
 '11',
 '12',
 '14',
 '15',
 '16',
 '1930',
 '1947',
 '1950',
 '1960',
 '1962',
 '1970',
 '1971',
 '1984',
 '1992',
 '1993',
 '1st',
 '20',
 '2016',
 '24',
 '25',
 '2nd',
 '30',
 '30th',
 '36',
 '40',
 '50',
 '60',
 'aamirkhan',
 'aarti',
 'abandon',
 'abduct',
 'abhay',
 'abhaydeol',
 'abhibhattacharya',
 'abhishek',
 'abhishekbachchan',
 'abid',
 'abl',
 'aboard',
 'abort',
 'abov',
 'abroad',
 'abus',
 'academ',
 'accept',
 'accid',
 'accident',
 'accommod',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'acharya',
 'achiev',
 'acid',
 'acp',
 'acquaint',
 'acquir',
 'act',
 'action',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'adapt',
 'add',
 'addict',
 'address',
 'adhyayansuman',
 'aditi',
 'aditya',
 'adityapancholi',
 'adityaroykapoor',
 'admir',
 'admirers',
 'adopt',
 'adult',
 'adulthood',
 'adventur',
 'advertis',
 'advis',
 'advoc',
 'affair',
 'affect',
 'affection',
 'affluent',
 'afford',
 'africa',
 'aftabshivdasani',
 'ag',
 'agarw',
 'age',
 'agenc',
 'agenda',
 'agent',
 'agha',
 'agit',
 'agnihotri',
 'ago',
 'agra',
 'agre',
 'ahm',
 'aid',
 'ail',
 'aim',
 'air',
 'airplan',
 'airport',
 'aishwaryaraibachchan',
 'ajay',
 'ajaydevgn',
 'ajit',
 'aka',
 'akash',
 'akbar',
 'akhtar',
 'akram',
 'akshay',
 'akshayanand',
 'akshayekhanna',
 'akshaykapoor',
 'akshaykumar',
 'akshaykumarrajkumarsantoshiact',
 'akshaykumarrajn',
 'akshaykumarvipulamrutlalshahcomedi',
 'akshayoberoi',
 'al',
 'aladin',
 'albeit',
 'alcohol',
 'ali',
 'alia',
 'aliabhatt',
 'aliabhattshashankkhaitancomedi',
 'aliasgar',
 'alien',
 'alik',
 'alike',
 'aliv',
 'alive',
 'alizafar',
 'alka',
 'alleg',
 'allegedli',
 'alliance',
 'allow',
 'alok',
 'alon',
 'alreadi',
 'alter',
 'alway',
 'aman',
 'amar',
 'amarnath',
 'amarupadhyaya',
 'amass',
 'amateur',
 'ambit',
 'ambiti',
 'ambitions',
 'ameeshapatelvikrambhattact',
 'amend',
 'america',
 'american',
 'amid',
 'amidst',
 'amirchand',
 'amit',
 'amitabh',
 'amitabhbachchan',
 'amitabhbachchanhrishikeshmukherjeedrama',
 'amitabhbachchanmanmohandesaiact',
 'amjad',
 'amjadkhan',
 'amnesia',
 'amnesiac',
 'amol',
 'amolpalekar',
 'amolpalekarbasuchatterjeecomedi',
 'amrapurkar',
 'amrish',
 'amrit',
 'amrita',
 'amu',
 'anamika',
 'anand',
 'anantnag',
 'ancestor',
 'ancestr',
 'anchor',
 'ancient',
 'aneeta',
 'anew',
 'anger',
 'angri',
 'ani',
 'aniket',
 'anil',
 'anilchatterje',
 'anildhawan',
 'anilkapoor',
 'anim',
 'anirudh',
 'anisa',
 'anita',
 'anjali',
 'anjana',
 'anju',
 'ankush',
 'anna',
 'anni',
 'anniversari',
 'anniversary',
 'announc',
 'annoy',
 'annual',
 'annukapoor',
 'anoth',
 'answered',
 'antara',
 'antaramali',
 'antaramaliprawaalramandrama',
 'antiqu',
 'anu',
 'anup',
 'anupam',
 'anupama',
 'anupamkh',
 'anuradha',
 'anushka',
 'anushkasharma',
 'anushkasharmamaneeshsharmacomedi',
 'anwar',
 'anxiou',
 'anyon',
 'anyth',
 'aparajita',
 'aparna',
 'apart',
 'apartment',
 'apathi',
 'appeal',
 'appear',
 'appl',
 'applic',
 'appoint',
 'appreci',
 'apprehend',
 'apprentic',
 'approach',
 'approv',
 'approval',
 'ara',
 'arbaaz',
 'arbaazkhan',
 'archaeologist',
 'archana',
 'archer',
 'architect',
 'area',
 'aren',
 'argument',
 'arid',
 'aris',
 'aristocrat',
 'arjun',
 'arjunkapoor',
 'arjunmathur',
 'arjunramp',
 'arm',
 'armi',
 'arora',
 'arrang',
 'arrest',
 'arriv',
 'arrives',
 'arrog',
 'arshadwarsi',
 'arshadwarsirajkumarhiranicomedi',
 'arshadwarsirohitshettyact',
 'art',
 'artist',
 'arun',
 'aruna',
 'arunbakshi',
 'arungovil',
 'arvind',
 'arvindswami',
 'arya',
 'aryababbar',
 'aryan',
 'ash',
 'asha',
 'ashaparekh',
 'ashaparekhnasirhussainmus',
 'ashaparekhrajkhosladrama',
 'ashaparekhshaktisamantadrama',
 'ashar',
 'ashish',
 'ashmitpatel',
 'ashok',
 'ashokkumar',
 'ashokkumarb',
 'ashoo',
 'ashutosh',
 'ashwin',
 'ashwini',
 'ask',
 'aspir',
 'asrani',
 'asranik',
 'assam',
 'assassin',
 'assault',
 'assign',
 'assignment',
 'assist',
 'associ',
 'assort',
 'assum',
 'astrolog',
 'asylum',
 'atheist',
 'atmospher',
 'attack',
 'attain',
 'attempt',
 'attend',
 'attent',
 'attorney',
 'attract',
 'audit',
 'aunt',
 'aur',
 'australia',
 'author',
 'aveng',
 'avinash',
 'avinashwadhavan',
 'avoid',
 'avtar',
 'await',
 'awaken',
 'awar',
 'award',
 'away',
 'awe',
 'ayesha',
 'ayubkhan',
 'ayushmannkhurrana',
 'azmi',
 'baba',
 'babbar',
 'babi',
 'babu',
 'baby',
 'bachchan',
 'bachelor',
 'backdrop',
 'background',
 'bad',
 'badli',
 'badriprasad',
 'badshah',
 'baghdad',
 'bahadur',
 'bahl',
 'baiju',
 'bajrang',
 'bakshi',
 'balanc',
 'bali',
 'balkicomedi',
 'balraj',
 'balrajsahni',
 'balram',
 'balwant',
 'band',
 'bandit',
 'banerje',
 'bangalor',
 'bangkok',
 'bank',
 'banker',
 'bansi',
 'bapaiahact',
 'bapaiahdrama',
 'bar',
 'barber',
 'barjatyacomedi',
 'barjatyadrama',
 'barkha',
 'baron',
 'barood',
 'barrist',
 'barunsobti',
 'bas',
 'basanti',
 'basantl',
 'base',
 'baseera',
 'basic',
 'basu',
 'batki',
 'batra',
 'battalion',
 'battl',
 'battle',
 'beach',
 'bear',
 'beard',
 'beat',
 'beaten',
 'beauti',
 'becam',
 'becaus',
 'becom',
 'bed',
 'bedi',
 'beenabanerje',
 'befal',
 'befor',
 'befriend',
 'beg',
 'began',
 'beggar',
 'begin',
 'begins',
 'behalf',
 'behav',
 'behest',
 'bela',
 'belief',
 'believ',
 'beliv',
 'bell',
 'belong',
 'belov',
 'beloved',
 'belt',
 'bend',
 'benefit',
 'benevol',
 'bengal',
 'bengali',
 'bent',
 'best',
 'bet',
 'bethroth',
 'betray',
 'better',
 'bhabhi',
 'bhabi',
 'bhagat',
 'bhagmati',
 'bhagwan',
 'bhai',
 'bhairav',
 'bhaiya',
 'bhakt',
 'bhalla',
 'bhandari',
 'bhanu',
 'bhanwarl',
 'bharat',
 'bharatbhushan',
 'bharati',
 'bhardwaj',
 'bhargav',
 'bharti',
 'bhasa',
 'bhatt',
 'bhatti',
 'bhavani',
 'bhavesh',
 'bhavna',
 'bhawani',
 'bheem',
 'bhi',
 'bhimsinghcomedi',
 'bhimsinghdrama',
 'bhola',
 'bholanath',
 'bhootnath',
 'bhopal',
 'bhushan',
 'bicycl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bihar',
 'bihari',
 'bijle',
 'bijli',
 'billion',
 'bin',
 'binarai',
 'bindu',
 'biograph',
 'biographi',
 'biolog',
 'bipasha',
 'bipashabasu',
 'birbal',
 'birju',
 'birmingham',
 'birth',
 'birthday',
 'bishamb',
 'bishan',
 'biswajeet',
 'biswajitchatterje',
 'bit',
 'bitter',
 'bizarr',
 'black',
 'blackmail',
 'blame',
 'blast',
 'bless',
 'blind',
 'blindli',
 'bliss',
 'blood',
 'bloom',
 'blossom',
 'blow',
 'blue',
 'blunder',
 'board',
 'boat',
 'bobbi',
 'bobbydeol',
 'bodi',
 'body',
 'bodyguard',
 'bokadiaact',
 'bollywood',
 'bomanirani',
 'bomb',
 'bombay',
 'bond',
 'bone',
 'book',
 'bootlegg',
 'border',
 'bore',
 'born',
 'borrow',
 'bose',
 'boss',
 'bought',
 'bound',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyfriend',
 'br',
 'brahmachari',
 'brahmin',
 'brain',
 'branch',
 'brat',
 'brave',
 'bravery',
 'bread',
 'break',
 'bribe',
 'brick',
 'bride',
 'bridegroom',
 'bright',
 'brij',
 'brilliant',
 'brindavan',
 'bring',
 'britain',
 'british',
 'brok',
 'broken',
 'broker',
 'broth',
 'brothel',
 'brother',
 'brothers',
 'brought',
 'brutal',
 'brutality',
 'bu',
 'bubbl',
 'buck',
 'bud',
 'buddhist',
 'buddi',
 'build',
 'builder',
 'building',
 'bull',
 'bullet',
 'bulli',
 'bumbl',
 'bunch',
 'bundelkhand',
 'bungalow',
 'bunglow',
 'bunti',
 'bunty',
 'burden',
 'bureau',
 'burglar',
 'burn',
 'busi',
 'business',
 'businessman',
 'businessmen',
 'businesswoman',
 'buy',
 'cab',
 'cabaret',
 'calcul',
 'calcutta',
 'came',
 'camera',
 'camp',
 'campaign',
 'canada',
 'canadian',
 'cancer',
 'candid',
 'cap',
 'capabl',
 'caper',
 'capit',
 'capital',
 'captain',
 'captiv',
 'captur',
 'car',
 'card',
 'care',
 'career',
 'careers',
 'carefre',
 'careless',
 'caretak',
 'carri',
 'carriag',
 'carv',
 'case',
 'cash',
 'casino',
 'cast',
 'caste',
 'cat',
 'catch',
 'cater',
 'cathol',
 'caucasian',
 'caught',
 'caus',
 'cbi',
 'celebr',
 'celib',
 'cell',
 'cent',
 'center',
 'central',
 'centuri',
 'ceo',
 'ceremoni',
 'chachu',
 'chagrin',
 'chailla',
 'chain',
 'chair',
 'chakraborti',
 'chakraborty',
 'chakravarthi',
 'challeng',
 'challenges',
 'chaman',
 'chambal',
 'champa',
 'champion',
 'chanc',
 'chand',
 'chanda',
 'chandan',
 'chander',
 'chandni',
 'chandra',
 'chandraact',
 'chandrabhan',
 'chandrachur',
 'chandracrim',
 'chandrak',
 'chandramukhi',
 'chandran',
 'chandrashekhar',
 'chandrashekharact',
 'chandrika',
 'chandu',
 'chang',
 'change',
 'changed',
 'changes',
 'chao',
 'chaotic',
 'charact',
 'characters',
 'charan',
 'charg',
 'charm',
 'chart',
 'charter',
 'charudatta',
 'chase',
 'chatterje',
 'chatterjee',
 'chaturvedi',
 'chaudhari',
 'chaudhri',
 'chauffeur',
 'chauhan',
 'chaurasia',
 'chauvin',
 'chawl',
 'chawla',
 'cheat',
 'chef',
 'chemic',
 'chequ',
 'chief',
 'child',
 'childhood',
 'childless',
 'children',
 'china',
 'chiranjeevi',
 'choic',
 'choos',
 'chopra',
 'chopradrama',
 'chor',
 'chosen',
 'chote',
 'choudhari',
 'choudhri',
 'choudhuri',
 'christian',
 'chronicl',
 'chunki',
 'cinema',
 'circa',
 'circu',
 'circumst',
 'circumstances',
 'citi',
 'citizen',
 'city',
 'claim',
 'clash',
 'class',
 'classic',
 'classmat',
 'clean',
 'clear',
 'clerk',
 'clinic',
 'clock',
 'close',
 'cloth',
 'club',
 'clutch',
 'coach',
 'coast',
 'cobra',
 'code',
 'cold',
 'collaps',
 'colleagu',
 'collect',
 'collector',
 'colleg',
 'college',
 'collegian',
 'colonel',
 'coloni',
 'com',
 'coma',
 'combat',
 'come',
 'comedi',
 'comedya',
 'comedyaft',
 'comedyan',
 'comedytwo',
 'comedywhen',
 'comfort',
 'comic',
 'command',
 'commando',
 'commission',
 'commit',
 'committe',
 'common',
 'commun',
 'compani',
 'companion',
 'company',
 'compass',
 'compel',
 'compet',
 'competit',
 'complaint',
 'complet',
 'complex',
 'complic',
 'conceal',
 'concern',
 'condit',
 'conduct',
 'confid',
 'conflict',
 'confront',
 'confus',
 'conman',
 'connect',
 'consequ',
 'consequences',
 'conserv',
 'consid',
 'consist',
 'conspir',
 'conspiraci',
 'construct',
 'consult',
 'consum',
 'contact',
 'contain',
 'contemporari',
 'contest',
 'continu',
 'contract',
 'contractor',
 'contribut',
 'control',
 'controversi',
 'convict',
 'convinc',
 'cook',
 'cop',
 'cope',
 'copywrit',
 'corpor',
 'corrupt',
 'corruption',
 'cost',
 'couldn',
 'counterfeit',
 'countri',
 'country',
 'countrysid',
 'coupl',
 'couple',
 'couples',
 'courag',
 'courage',
 'cours',
 'court',
 'courtesan',
 'courtroom',
 'cousin',
 'cover',
 'crack',
 'crash',
 'crazi',
 'creat',
 'credit',
 'cremat',
 'cricket',
 'crime',
 'crimea',
 'crimeadd',
 'crimebest',
 'crimechandan',
 'crimehonest',
 'crimein',
 'crimes',
 'crimeth',
 'crimethi',
 'crimethre',
 'crimetwo',
 'crimevijay',
 'crimewhen',
 'crimin',
 'criminal',
 'criminals',
 'crippl',
 'crisi',
 'critic',
 'crook',
 'crore',
 'cross',
 'crown',
 'cruel',
 'crusad',
 'crush',
 'cruz',
 'culmin',
 'culprit',
 'cultur',
 'cum',
 'cun',
 'cure',
 'currenc',
 'current',
 'curs',
 'custodi',
 'custom',
 'cut',
 'da',
 'dacait',
 'dacoit',
 'dad',
 'dada',
 'dadu',
 'dagger',
 'daili',
 'daku',
 'dalip',
 'damodar',
 'danc',
 'dancer',
 'danger',
 'danni',
 'dannydenzongpa',
 'darasingh',
 'dare',
 'darjeeling',
 'dark',
 'darker',
 'das',
 'dash',
 'data',
 'date',
 'daught',
 'daughter',
 'daughters',
 'david',
 'davidabraham',
 'dawn',
 'day',
 'dayal',
 'dayaram',
 'dayashankar',
 'days',
 'dead',
 'deadli',
 'deaf',
 'deal',
 'dealer',
 'dearli',
 'death',
 'debt',
 'decad',
 'deceas',
 'deceit',
 'decent',
 'decept',
 'deception',
 'decid',
 'decides',
 'decis',
 'declar',
 'declin',
 'decor',
 'dedic',
 'deed',
 'deeka',
 'deep',
 'deepa',
 'deepak',
 'deepakdobriy',
 'deepakkumar',
 'deeper',
 'deepikapadukon',
 'deepli',
 'deeptinav',
 'defeat',
 'defend',
 'defens',
 'defi',
 'definit',
 ...]

In [46]:
from sklearn.metrics.pairwise import cosine_similarity

In [47]:
similarity = cosine_similarity(vectors)

In [48]:
sorted(enumerate(list(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(1800, 0.3805211953235953),
 (209, 0.280056016805602),
 (1589, 0.25048971643405976),
 (3334, 0.23008949665421113),
 (1362, 0.22256595362986287)]

In [49]:
def recommend(movie):
    movie_index = new_df[new_df['original_title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].genres)
        print(new_df.iloc[i[0]].original_title)

In [50]:
new_df[new_df['original_title'].str.contains('Uri: The Surgical Strike')]

,imdb_id,original_title,genres,tags
0,tt8291224,Uri: The Surgical Strike,Action Drama War,vickykaush pareshrawaladityadharact drama wari...

In [51]:
recommend('Uri: The Surgical Strike')

Action Drama
Army
Action Drama History
Raag Desh
Action Drama Romance
Pukar
Action Drama War
Hindustan Ki Kasam
Drama Romance
Dil Pardesi Ho Gayaa

In [52]:
# from now we are trying to concat the available dataset as per our requirements

In [53]:
bollywood_1950_to_1989 = pd.read_csv('./1950-1989/bollywood_1950-1989.csv')
bollywood_meta_1950_to_1989 = pd.read_csv('./1950-1989/bollywood_meta_1950-1989.csv')
bollywood_text_1950_to_1989 = pd.read_csv('./1950-1989/bollywood_text_1950-1989.csv')

In [54]:
bollywood_1950_to_1989.head()

,title,imdb_id,poster_path,wiki_link
0,Aag Ka Gola,tt0177489,https://upload.wikimedia.org/wikipedia/en/2/2a...,https://en.wikipedia.org/wiki/Aag_Ka_Gola
1,Ram Lakhan,tt0098168,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ram_Lakhan
2,Asmaan Se Ooncha,tt0233146,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Asmaan_Se_Ooncha
3,Tridev,tt0100816,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Tridev
4,ChaalBaaz,tt0122427,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/ChaalBaaz

In [55]:
bollywood_meta_1950_to_1989.head()

,imdb_id,title,original_title,is_adult,year_of_release,runtime,genres
0,tt0042184,Afsar,Afsar,0,1950,121,Comedy|Romance
1,tt0042207,Arzoo,Arzoo,0,1950,\N,Musical|Romance
2,tt0042225,Banwra,Banwra,0,1950,148,Drama
3,tt0042233,Bawre Nain,Bawre Nain,0,1950,138,Drama|Romance
4,tt0042380,Dastan,Dastan,0,1950,122,Drama|Family|Romance

In [56]:
bollywood_text_1950_to_1989.head()

,imdb_id,story,summary,tagline,actors,wins_nominations,release_date
0,tt0349122,Amit (Rakesh Roshan) is a big city boy but hi...,Amit (Rakesh Roshan) is a big city boy but hi...,NaN,NaN,NaN,18 December 1989 (India)
1,tt0098168,Sharda (Raakhee) vows vengeance when her husba...,Sharda (Raakhee) vows vengeance when her husba...,NaN,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...,2 wins & 4 nominations,27 January 1989 (India)
2,tt0122427,Anju and Manju identical twins separated at b...,Twins separated at infancy are brought up diff...,NaN,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...,2 wins,8 December 1989 (India)
3,tt0096896,In India circa after the British Rule there i...,In India circa after the British Rule there i...,NaN,Dharmendra|Vinod Khanna|Dimple Kapadia|Poonam ...,1 nomination,14 July 1989 (India)
4,tt0233146,Anita lives an abusive life-style with her alc...,Anita lives an abusive life-style with her alc...,NaN,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...,NaN,NaN

In [57]:
bollywood_1950_to_1989 = bollywood_1950_to_1989.merge(bollywood_meta_1950_to_1989,on='imdb_id')

In [58]:
bollywood_1950_to_1989 = bollywood_1950_to_1989.merge(bollywood_text_1950_to_1989,on='imdb_id')

In [59]:
bollywood_1950_to_1989.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2225 entries, 0 to 2224
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           2225 non-null   object
 1   imdb_id           2225 non-null   object
 2   poster_path       1570 non-null   object
 3   wiki_link         2225 non-null   object
 4   title_y           2225 non-null   object
 5   original_title    2225 non-null   object
 6   is_adult          2225 non-null   int64
 7   year_of_release   2225 non-null   int64
 8   runtime           2225 non-null   object
 9   genres            2225 non-null   object
 10  story             1817 non-null   object
 11  summary           2225 non-null   object
 12  tagline           38 non-null     object
 13  actors            2212 non-null   object
 14  wins_nominations  486 non-null    object
 15  release_date      1037 non-null   object
dtypes: int64(2), object(14)
memory usage: 295.5+ KB

In [60]:
bollywood_1950_to_1989 = bollywood_1950_to_1989.drop_duplicates()

In [61]:
bollywood_1950_to_1989.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2159 entries, 0 to 2224
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           2159 non-null   object
 1   imdb_id           2159 non-null   object
 2   poster_path       1507 non-null   object
 3   wiki_link         2159 non-null   object
 4   title_y           2159 non-null   object
 5   original_title    2159 non-null   object
 6   is_adult          2159 non-null   int64
 7   year_of_release   2159 non-null   int64
 8   runtime           2159 non-null   object
 9   genres            2159 non-null   object
 10  story             1753 non-null   object
 11  summary           2159 non-null   object
 12  tagline           34 non-null     object
 13  actors            2146 non-null   object
 14  wins_nominations  442 non-null    object
 15  release_date      1001 non-null   object
dtypes: int64(2), object(14)
memory usage: 286.7+ KB

In [62]:
# only going to store this columns
# imdb_id
# original_title
# genres
# story
# summary
# actors

In [63]:
bollywood_1950_to_1989 = bollywood_1950_to_1989[['imdb_id','original_title','tagline','genres','summary','actors']]

In [64]:
bollywood_1950_to_1989.head()

,imdb_id,original_title,tagline,genres,summary,actors
0,tt0177489,Aag Ka Gola,NaN,Action|Drama,Poverty and hunger forces young Shankar to tak...,Sunny Deol|Dimple Kapadia|Archana Puran Singh|...
1,tt0098168,Ram Lakhan,NaN,Action|Drama|Musical,Sharda (Raakhee) vows vengeance when her husba...,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...
2,tt0233146,Asmaan Se Ooncha,NaN,Action|Drama|Family,Anita lives an abusive life-style with her alc...,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...
3,tt0100816,Tridev,A Volcanic Saga of Three Angry Men,Action|Crime|Drama,A honest but disgraced Police Inspector's atte...,Naseeruddin Shah|Sunny Deol|Jackie Shroff|Madh...
4,tt0122427,Chaalbaaz,NaN,Action|Comedy|Drama,Twins separated at infancy are brought up diff...,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...

In [65]:
bollywood_1950_to_1989.duplicated().sum()

33

In [66]:
bollywood_1950_to_1989 = bollywood_1950_to_1989.drop_duplicates()

In [67]:
bollywood_1950_to_1989.isnull().sum()

imdb_id              0
original_title       0
tagline           2094
genres               0
summary              0
actors              13
dtype: int64

In [68]:
bollywood_1950_to_1989.head()

,imdb_id,original_title,tagline,genres,summary,actors
0,tt0177489,Aag Ka Gola,NaN,Action|Drama,Poverty and hunger forces young Shankar to tak...,Sunny Deol|Dimple Kapadia|Archana Puran Singh|...
1,tt0098168,Ram Lakhan,NaN,Action|Drama|Musical,Sharda (Raakhee) vows vengeance when her husba...,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...
2,tt0233146,Asmaan Se Ooncha,NaN,Action|Drama|Family,Anita lives an abusive life-style with her alc...,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...
3,tt0100816,Tridev,A Volcanic Saga of Three Angry Men,Action|Crime|Drama,A honest but disgraced Police Inspector's atte...,Naseeruddin Shah|Sunny Deol|Jackie Shroff|Madh...
4,tt0122427,Chaalbaaz,NaN,Action|Comedy|Drama,Twins separated at infancy are brought up diff...,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...

In [69]:
bollywood_1990_to_2009 = pd.read_csv('./1990-2009/bollywood_1990-2009.csv')
bollywood_meta_1990_to_2009 = pd.read_csv('./1990-2009/bollywood_meta_1990-2009.csv')
bollywood_text_1990_to_2009 = pd.read_csv('./1990-2009/bollywood_text_1990-2009.csv')

In [70]:
bollywood_1990_to_2009.head()

,title,imdb_id,poster_path,wiki_link
0,3 Idiots,tt1187043,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/3_Idiots
1,Luck by Chance,tt0886539,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Luck_by_Chance
2,Love Aaj Kal,tt1275863,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Love_Aaj_Kal
3,Wanted (2009 film),tt1084972,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Wanted_(2009_film)
4,Delhi-6,tt1043451,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Delhi-6

In [71]:
bollywood_meta_1990_to_2009.head()

,imdb_id,title,original_title,is_adult,year_of_release,runtime,genres
0,tt0054098,Mughal-E-Azam,Mughal-E-Azam,0,1960,197,Drama|Romance|War
1,tt0096775,Agneekaal,Agneekaal,0,1990,161,Action|Crime|Drama
2,tt0098461,Thanedaar,Thanedaar,0,1990,151,Action|Crime|Drama
3,tt0098975,Aadhi Haqeeqat Aadha Fasana,Aadhi Haqeeqat Aadha Fasana,0,1990,88,Documentary
4,tt0098976,Aaj Ka Arjun,Aaj Ka Arjun,0,1990,164,Action|Crime|Drama

In [72]:
bollywood_text_1990_to_2009.head()

,imdb_id,story,summary,tagline,actors,wins_nominations,release_date
0,tt1187043,Farhan Qureshi and Raju Rastogi want to re-uni...,Two friends are searching for their long lost ...,Don't be Stupid. Be an I.D.I.O.T.,Aamir Khan|Madhavan|Sharman Joshi|Kareena Kapo...,57 wins & 18 nominations,25 December 2009 (India)
1,tt1275863,London-based Jai Vardhan Singh and Meera Pandi...,An old-fashioned romantic tells his personal l...,NaN,Saif Ali Khan|Deepika Padukone|Rishi Kapoor|Ra...,12 wins & 33 nominations,31 July 2009 (India)
2,tt1340838,Attractive ramp model Nandita Chopra has a b...,An artist comes to realize that the woman he h...,NaN,Kangana Ranaut|Adhyayan Suman|Emraan Hashmi|,NaN,23 January 2009 (India)
3,tt1252596,A statue in a town's square narrates to a jour...,The wacky adventures of a young man who is wil...,NaN,Ranbir Kapoor|Katrina Kaif|Darshan Jariwala|Sm...,6 wins & 6 nominations,6 November 2009 (India)
4,tt1084972,Mumbai-based middle-classed Jhanvi who lives ...,Radhe is a ruthless gangster who will kill any...,MAFIA WANTS HIM DEAD| POLICE WANTS HIM ALIVE,Salman Khan|Ayesha Takia|Vinod Khanna|Govind N...,1 win & 4 nominations,25 September 2009 (USA)

In [73]:
bollywood_1990_to_2009 = bollywood_1990_to_2009.merge(bollywood_meta_1990_to_2009,on='imdb_id')

In [74]:
bollywood_1990_to_2009 = bollywood_1990_to_2009.merge(bollywood_text_1990_to_2009,on='imdb_id')

In [75]:
bollywood_1990_to_2009.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1549 entries, 0 to 1548
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           1549 non-null   object
 1   imdb_id           1549 non-null   object
 2   poster_path       1277 non-null   object
 3   wiki_link         1549 non-null   object
 4   title_y           1549 non-null   object
 5   original_title    1549 non-null   object
 6   is_adult          1549 non-null   int64
 7   year_of_release   1549 non-null   int64
 8   runtime           1549 non-null   object
 9   genres            1549 non-null   object
 10  story             1493 non-null   object
 11  summary           1549 non-null   object
 12  tagline           389 non-null    object
 13  actors            1544 non-null   object
 14  wins_nominations  523 non-null    object
 15  release_date      1240 non-null   object
dtypes: int64(2), object(14)
memory usage: 205.7+ KB

In [76]:
bollywood_1990_to_2009 = bollywood_1990_to_2009[['imdb_id','original_title','tagline','genres','summary','actors']]

In [77]:
bollywood_1990_to_2009.isnull().sum()

imdb_id              0
original_title       0
tagline           1160
genres               0
summary              0
actors               5
dtype: int64

In [78]:
x = bollywood_1990_to_2009['imdb_id'].duplicated()

In [79]:
if x.any():
    print("present")
else:
    print("Not present")

present

In [80]:
bollywood_1990_to_2009.duplicated().sum()

21

In [81]:
bollywood_1990_to_2009 = bollywood_1990_to_2009.drop_duplicates()

In [82]:
bollywood_1990_to_2009.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1528 entries, 0 to 1548
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         1528 non-null   object
 1   original_title  1528 non-null   object
 2   tagline         380 non-null    object
 3   genres          1528 non-null   object
 4   summary         1528 non-null   object
 5   actors          1523 non-null   object
dtypes: object(6)
memory usage: 83.6+ KB

In [83]:
bollywood_2010_to_2019 = pd.read_csv('./2010-2019/bollywood_2010-2019.csv')
bollywood_meta_2010_to_2019 = pd.read_csv('./2010-2019/bollywood_meta_2010-2019.csv')
bollywood_text_2010_to_2019 = pd.read_csv('./2010-2019/bollywood_text_2010-2019.csv')

In [84]:
bollywood_2010_to_2019.head()

,title,imdb_id,poster_path,wiki_link
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...
1,Rangeela Raja,tt9052964,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Rangeela_Raja
2,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609
3,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...
4,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India

In [85]:
bollywood_meta_2010_to_2019.head()

,imdb_id,title,original_title,is_adult,year_of_release,runtime,genres
0,tt0073707,Sholay,Sholay,0,1975,198,Action|Adventure|Comedy
1,tt0246825,Om Dar-B-Dar,Om Dar-B-Dar,0,1988,101,Drama
2,tt0403935,Action Jackson,Action Jackson,0,2014,144,Action|Thriller
3,tt0443331,Milenge Milenge,Milenge Milenge,0,2010,109,Drama|Romance
4,tt0839742,Bhopal: A Prayer for Rain,Bhopal: A Prayer for Rain,0,2014,96,Drama

In [86]:
bollywood_text_2010_to_2019.head()

,imdb_id,story,summary,tagline,actors,wins_nominations,release_date
0,tt5013008,Fraud Saiyyan is the story of a con artist in ...,Fraud Saiyyan is the story of a con artist in ...,NaN,Arshad Warsi|Saurabh Shukla|Flora Saini|Sara L...,NaN,18 January 2019 (India)
1,tt8291224,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
2,tt9472208,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
3,tt6986710,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
4,tt6028796,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [87]:
bollywood_2010_to_2019 = bollywood_2010_to_2019.merge(bollywood_meta_2010_to_2019,on='imdb_id')

In [88]:
bollywood_2010_to_2019 = bollywood_2010_to_2019.merge(bollywood_text_2010_to_2019,on='imdb_id')

In [89]:
bollywood_2010_to_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 922 entries, 0 to 921
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title_x           922 non-null    object
 1   imdb_id           922 non-null    object
 2   poster_path       878 non-null    object
 3   wiki_link         922 non-null    object
 4   title_y           922 non-null    object
 5   original_title    922 non-null    object
 6   is_adult          922 non-null    int64
 7   year_of_release   922 non-null    object
 8   runtime           922 non-null    object
 9   genres            922 non-null    object
 10  story             910 non-null    object
 11  summary           921 non-null    object
 12  tagline           269 non-null    object
 13  actors            920 non-null    object
 14  wins_nominations  403 non-null    object
 15  release_date      870 non-null    object
dtypes: int64(1), object(15)
memory usage: 122.5+ KB

In [90]:
bollywood_2010_to_2019 = bollywood_2010_to_2019[['imdb_id','original_title','tagline','genres','summary','actors']]

In [91]:
# bollywood_1950_to_1989
# bollywood_1990_to_2009
# bollywood_2010_to_2019

In [92]:
bollywood_1950_to_2019 =  bollywood_1950_to_1989.append(bollywood_1990_to_2009)

In [93]:
bollywood_1950_to_2019 = bollywood_1950_to_2019.append(bollywood_2010_to_2019)

In [94]:
bollywood_1950_to_2019.duplicated().sum()

16

In [95]:
bollywood_1950_to_2019 = bollywood_1950_to_2019.drop_duplicates()

In [96]:
z = bollywood_1950_to_2019['imdb_id'].duplicated()

In [97]:
if z.any():
    print("Duplicate imdb_id present")
else:
    print("Not present")

Not present

In [98]:
bollywood_1950_to_2019.duplicated().sum()

0

In [99]:
bollywood_1950_to_2019.isnull().sum()

imdb_id              0
original_title       0
tagline           3880
genres               0
summary              1
actors              20
dtype: int64

In [100]:
bollywood_1950_to_2019.head()

,imdb_id,original_title,tagline,genres,summary,actors
0,tt0177489,Aag Ka Gola,NaN,Action|Drama,Poverty and hunger forces young Shankar to tak...,Sunny Deol|Dimple Kapadia|Archana Puran Singh|...
1,tt0098168,Ram Lakhan,NaN,Action|Drama|Musical,Sharda (Raakhee) vows vengeance when her husba...,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...
2,tt0233146,Asmaan Se Ooncha,NaN,Action|Drama|Family,Anita lives an abusive life-style with her alc...,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...
3,tt0100816,Tridev,A Volcanic Saga of Three Angry Men,Action|Crime|Drama,A honest but disgraced Police Inspector's atte...,Naseeruddin Shah|Sunny Deol|Jackie Shroff|Madh...
4,tt0122427,Chaalbaaz,NaN,Action|Comedy|Drama,Twins separated at infancy are brought up diff...,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...

In [101]:
bollywood_1950_to_2019.iloc[0].genres

'Action|Drama'

In [102]:
bollywood_1950_to_2019['genres'] = bollywood_1950_to_2019['genres'].apply(lambda x:x.replace("|"," "))

In [103]:
bollywood_1950_to_2019.head()

,imdb_id,original_title,tagline,genres,summary,actors
0,tt0177489,Aag Ka Gola,NaN,Action Drama,Poverty and hunger forces young Shankar to tak...,Sunny Deol|Dimple Kapadia|Archana Puran Singh|...
1,tt0098168,Ram Lakhan,NaN,Action Drama Musical,Sharda (Raakhee) vows vengeance when her husba...,Rakhee Gulzar|Jackie Shroff|Anil Kapoor|Dimple...
2,tt0233146,Asmaan Se Ooncha,NaN,Action Drama Family,Anita lives an abusive life-style with her alc...,Jeetendra|Raj Babbar|Anita Raj|Govinda|Sonam|S...
3,tt0100816,Tridev,A Volcanic Saga of Three Angry Men,Action Crime Drama,A honest but disgraced Police Inspector's atte...,Naseeruddin Shah|Sunny Deol|Jackie Shroff|Madh...
4,tt0122427,Chaalbaaz,NaN,Action Comedy Drama,Twins separated at infancy are brought up diff...,Sridevi|Sunny Deol|Rajinikanth|Anupam Kher|Sha...

In [104]:
bollywood_1950_to_2019['actors'].fillna('',inplace=True)

In [105]:
bollywood_1950_to_2019['actors'] = bollywood_1950_to_2019['actors'].apply(lambda x:x.replace('|',',').replace(' ','').replace(',',' '))

In [106]:
bollywood_1950_to_2019['actors'] = bollywood_1950_to_2019['actors'].str.split().apply(lambda x: ' '.join(x[:2]))

In [107]:
bollywood_1950_to_2019.iloc[0].actors

'SunnyDeol DimpleKapadia'

In [108]:
bollywood_1950_to_2019.head()

,imdb_id,original_title,tagline,genres,summary,actors
0,tt0177489,Aag Ka Gola,NaN,Action Drama,Poverty and hunger forces young Shankar to tak...,SunnyDeol DimpleKapadia
1,tt0098168,Ram Lakhan,NaN,Action Drama Musical,Sharda (Raakhee) vows vengeance when her husba...,RakheeGulzar JackieShroff
2,tt0233146,Asmaan Se Ooncha,NaN,Action Drama Family,Anita lives an abusive life-style with her alc...,Jeetendra RajBabbar
3,tt0100816,Tridev,A Volcanic Saga of Three Angry Men,Action Crime Drama,A honest but disgraced Police Inspector's atte...,NaseeruddinShah SunnyDeol
4,tt0122427,Chaalbaaz,NaN,Action Comedy Drama,Twins separated at infancy are brought up diff...,Sridevi SunnyDeol

In [109]:
bollywood_1950_to_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4560 entries, 0 to 921
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_id         4560 non-null   object
 1   original_title  4560 non-null   object
 2   tagline         680 non-null    object
 3   genres          4560 non-null   object
 4   summary         4559 non-null   object
 5   actors          4560 non-null   object
dtypes: object(6)
memory usage: 249.4+ KB

In [110]:
bollywood_1950_to_2019['summary'].fillna('',inplace=True)
bollywood_1950_to_2019['tagline'].fillna('',inplace=True)

In [111]:
# bollywood_1950_to_2019['poster_path'].fillna('',inplace=True)

In [112]:
bollywood_1950_to_2019['tags'] = bollywood_1950_to_2019['actors'] + ' ' + bollywood_1950_to_2019['genres'] + ' ' + bollywood_1950_to_2019['tagline'] + ' ' + bollywood_1950_to_2019['summary']

In [113]:
bollywood_1950_to_2019 = bollywood_1950_to_2019[['imdb_id','original_title','genres','tags']]

In [114]:
bollywood_1950_to_2019.head()

,imdb_id,original_title,genres,tags
0,tt0177489,Aag Ka Gola,Action Drama,SunnyDeol DimpleKapadia Action Drama Poverty ...
1,tt0098168,Ram Lakhan,Action Drama Musical,RakheeGulzar JackieShroff Action Drama Musical...
2,tt0233146,Asmaan Se Ooncha,Action Drama Family,Jeetendra RajBabbar Action Drama Family Anita...
3,tt0100816,Tridev,Action Crime Drama,NaseeruddinShah SunnyDeol Action Crime Drama A...
4,tt0122427,Chaalbaaz,Action Comedy Drama,Sridevi SunnyDeol Action Comedy Drama Twins s...

In [115]:
bollywood_1950_to_2019['tags'] = bollywood_1950_to_2019['tags'].apply(lambda x:x.lower())

In [116]:
bollywood_1950_to_2019.head()

,imdb_id,original_title,genres,tags
0,tt0177489,Aag Ka Gola,Action Drama,sunnydeol dimplekapadia action drama poverty ...
1,tt0098168,Ram Lakhan,Action Drama Musical,rakheegulzar jackieshroff action drama musical...
2,tt0233146,Asmaan Se Ooncha,Action Drama Family,jeetendra rajbabbar action drama family anita...
3,tt0100816,Tridev,Action Crime Drama,naseeruddinshah sunnydeol action crime drama a...
4,tt0122427,Chaalbaaz,Action Comedy Drama,sridevi sunnydeol action comedy drama twins s...

In [117]:
bollywood_1950_to_2019.iloc[0].tags

'sunnydeol dimplekapadia action drama  poverty and hunger forces young shankar to take up employment as a mechanic. to this extent all is well for him until he is arrested by the police for a crime he did not committed; but ...                    '

In [118]:
import nltk

In [119]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [120]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [121]:
ps.stem('results')

'result'

In [122]:
bollywood_1950_to_2019['tags'] = bollywood_1950_to_2019['tags'].apply(stem)

In [123]:
bollywood_1950_to_2019.iloc[0].tags

'sunnydeol dimplekapadia action drama poverti and hunger forc young shankar to take up employ as a mechanic. to thi extent all is well for him until he is arrest by the polic for a crime he did not committed; but ...'

In [124]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=1000,stop_words='english')

In [125]:
vectors = cv.fit_transform(bollywood_1950_to_2019['tags']).toarray()

In [126]:
vectors.shape

(4560, 1000)

In [127]:
cv.get_feature_names()

c:\users\ansar\onedrive\desktop\machine-learning-projects\.venv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['aamirkhan',
 'aarti',
 'abandon',
 'abduct',
 'abhibhattacharya',
 'abhishekbachchan',
 'abl',
 'abus',
 'accept',
 'accid',
 'accident',
 'account',
 'accus',
 'acp',
 'act',
 'action',
 'activ',
 'activities',
 'actor',
 'actress',
 'adapt',
 'add',
 'adopt',
 'adult',
 'adventur',
 'advertis',
 'advoc',
 'affair',
 'aftabshivdasani',
 'age',
 'agent',
 'agre',
 'aishwaryaraibachchan',
 'ajay',
 'ajaydevgn',
 'ajit',
 'akash',
 'akshayekhanna',
 'akshaykumar',
 'alcohol',
 'ali',
 'alia',
 'alway',
 'aman',
 'amar',
 'ameeshapatel',
 'amit',
 'amitabhbachchan',
 'amolpalekar',
 'amrish',
 'anand',
 'ani',
 'anil',
 'anilkapoor',
 'anim',
 'anita',
 'anjali',
 'anoth',
 'anupamkh',
 'apart',
 'approach',
 'arjun',
 'arjunramp',
 'arm',
 'armi',
 'arrang',
 'arrest',
 'arriv',
 'arshadwarsi',
 'art',
 'artist',
 'arun',
 'asha',
 'ashaparekh',
 'ashok',
 'ashokkumar',
 'ask',
 'aspir',
 'asrani',
 'assassin',
 'assign',
 'assist',
 'attack',
 'attempt',
 'attend',
 'attract',
 'aunt',
 'author',
 'aveng',
 'avinash',
 'away',
 'babi',
 'babitakapoor',
 'babu',
 'backdrop',
 'background',
 'bad',
 'bahadur',
 'balrajsahni',
 'bandit',
 'bank',
 'bas',
 'base',
 'battl',
 'beauti',
 'becaus',
 'becom',
 'befor',
 'befriend',
 'begin',
 'believ',
 'belong',
 'best',
 'betray',
 'better',
 'bharat',
 'bharatbhushan',
 'bhola',
 'big',
 'biggest',
 'biographi',
 'bipashabasu',
 'birbal',
 'birth',
 'biswajitchatterje',
 'blind',
 'blood',
 'bobbydeol',
 'bodi',
 'bollywood',
 'bombay',
 'bond',
 'book',
 'born',
 'boss',
 'boy',
 'boyfriend',
 'break',
 'bride',
 'bring',
 'british',
 'brother',
 'brought',
 'brutal',
 'build',
 'busi',
 'business',
 'businessman',
 'calcutta',
 'captur',
 'car',
 'care',
 'career',
 'carri',
 'case',
 'cast',
 'catch',
 'caught',
 'caus',
 'celebr',
 'central',
 'centuri',
 'challeng',
 'chang',
 'charact',
 'charg',
 'charm',
 'chief',
 'child',
 'childhood',
 'children',
 'circa',
 'circumst',
 'citi',
 'city',
 'claim',
 'clash',
 'class',
 'close',
 'colleg',
 'college',
 'collegian',
 'come',
 'comedi',
 'comfort',
 'comic',
 'commission',
 'commit',
 'commun',
 'compani',
 'complet',
 'complic',
 'connect',
 'consist',
 'continu',
 'control',
 'convict',
 'convinc',
 'cop',
 'corrupt',
 'countri',
 'country',
 'coupl',
 'court',
 'creat',
 'cricket',
 'crime',
 'crimin',
 'criminal',
 'crook',
 'cross',
 'cruel',
 'dacoit',
 'dad',
 'danc',
 'dancer',
 'danger',
 'darasingh',
 'dare',
 'dark',
 'daughter',
 'day',
 'dayal',
 'dead',
 'deadli',
 'deal',
 'death',
 'decid',
 'dedic',
 'deep',
 'deepak',
 'deepikapadukon',
 'delhi',
 'deol',
 'desert',
 'despit',
 'destini',
 'destroy',
 'dev',
 'devanand',
 'develop',
 'devi',
 'dhanraj',
 'dharam',
 'dharmendra',
 'diamond',
 'did',
 'die',
 'differ',
 'dilig',
 'dilipkumar',
 'dimplekapadia',
 'direct',
 'director',
 'discov',
 'district',
 'doctor',
 'doe',
 'doesn',
 'don',
 'door',
 'dr',
 'drama',
 'dream',
 'drink',
 'drive',
 'driver',
 'drug',
 'dure',
 'durga',
 'duti',
 'dutt',
 'earn',
 'educ',
 'elder',
 'eldest',
 'embark',
 'embroil',
 'emot',
 'emperor',
 'employ',
 'employe',
 'emraanhashmi',
 'encount',
 'end',
 'enemi',
 'engag',
 'engin',
 'england',
 'english',
 'enter',
 'entir',
 'escap',
 'estat',
 'estrang',
 'event',
 'eventu',
 'everi',
 'everyon',
 'everyth',
 'evil',
 'ex',
 'exist',
 'expect',
 'experi',
 'eye',
 'face',
 'fact',
 'fail',
 'faith',
 'fake',
 'fall',
 'fallen',
 'famili',
 'family',
 'famou',
 'fantasi',
 'fardeenkhan',
 'farmer',
 'farooqshaikh',
 'fate',
 'father',
 'fear',
 'feel',
 'fellow',
 'femal',
 'ferozkhan',
 'fi',
 'fight',
 'fighter',
 'figur',
 'film',
 'final',
 'follow',
 'forc',
 'forest',
 'form',
 'frame',
 'free',
 'freedom',
 'friend',
 'friendli',
 'friends',
 'friendship',
 'fulfil',
 'fun',
 'game',
 'gang',
 'ganga',
 'gangster',
 'gauri',
 'geeta',
 'geetabali',
 'gener',
 'ghost',
 'girl',
 'girlfriend',
 'goa',
 'god',
 'goe',
 'good',
 'goon',
 'gopal',
 'got',
 'govern',
 'govinda',
 'grandfath',
 'great',
 'groom',
 'group',
 'grow',
 'grown',
 'guy',
 'ha',
 'hand',
 'happen',
 'happi',
 'happili',
 'hard',
 'hate',
 'haunt',
 'head',
 'heart',
 'heir',
 'heiress',
 'help',
 'hemamalini',
 'hero',
 'hi',
 'hide',
 'high',
 'hindi',
 'hindu',
 'hire',
 'histori',
 'hit',
 'home',
 'honest',
 'hope',
 'horror',
 'hospit',
 'hotel',
 'hous',
 'house',
 'household',
 'housewif',
 'howev',
 'hrithikroshan',
 'human',
 'hunt',
 'husband',
 'ident',
 'ill',
 'impoverish',
 'incid',
 'includ',
 'independ',
 'india',
 'indian',
 'industrialist',
 'inform',
 'innoc',
 'inspector',
 'inspir',
 'instead',
 'intellig',
 'intern',
 'introduc',
 'investig',
 'invit',
 'involv',
 'irrfankhan',
 'jackieshroff',
 'jai',
 'jail',
 'jayabachchan',
 'jayaprada',
 'jeetendra',
 'jimmysheirgil',
 'job',
 'johnabraham',
 'join',
 'journalist',
 'journey',
 'joymukherje',
 'judg',
 'juhichawla',
 'just',
 'justic',
 'jyoti',
 'kabir',
 'kajol',
 'kamal',
 'kamalhaasan',
 'kanganaranaut',
 'kapoor',
 'karan',
 'kareenakapoor',
 'karismakapoor',
 'kashmir',
 'katrinakaif',
 'kaykaymenon',
 'khan',
 'khanna',
 'kid',
 'kidnap',
 'kill',
 'killer',
 'kind',
 'king',
 'kingdom',
 'kiran',
 'kishan',
 'kishorekumar',
 'know',
 'known',
 'krishna',
 'kumar',
 'lal',
 'land',
 'landlord',
 'late',
 'later',
 'law',
 'lawyer',
 'laxmi',
 'lead',
 'leader',
 'learn',
 'leav',
 'leenachandavarkar',
 'left',
 'let',
 'lie',
 'life',
 'lifestyl',
 'like',
 'line',
 'littl',
 'live',
 'lives',
 'loc',
 'local',
 'locat',
 'london',
 'lone',
 'long',
 'look',
 'lord',
 'lose',
 'lost',
 'lot',
 'love',
 'lover',
 'luck',
 'madhubala',
 'madhuridixit',
 'mafia',
 'magic',
 'major',
 'make',
 'mala',
 'malasinha',
 'male',
 'malhotra',
 'man',
 'manag',
 'mani',
 'manishakoirala',
 'manojbajpaye',
 'manojkumar',
 'mansion',
 'marit',
 'marri',
 'marriag',
 'marriage',
 'married',
 'master',
 'match',
 'matern',
 'maya',
 'mean',
 'medic',
 'meena',
 'meenakshisheshadri',
 'meenakumari',
 'meet',
 'mehmood',
 'mehra',
 'member',
 'memori',
 'men',
 'mental',
 'met',
 'middl',
 'middle',
 'millionair',
 'mind',
 'minist',
 'miss',
 'mission',
 'mistaken',
 'mithunchakraborti',
 'model',
 'modern',
 'mohan',
 'molest',
 'mom',
 'money',
 'mother',
 'moushumichatterje',
 'movi',
 'mr',
 'multi',
 'mumbai',
 'mumtaz',
 'murder',
 'music',
 'musician',
 'muslim',
 'mysteri',
 'naiv',
 'nanapatekar',
 'nanda',
 'narayan',
 'nargi',
 'naseeruddinshah',
 'nath',
 'nation',
 'natur',
 'navinnischol',
 'near',
 'neetusingh',
 'neighbor',
 'nephew',
 'new',
 'newli',
 'news',
 'newspap',
 'night',
 'nisha',
 'noth',
 'notori',
 'number',
 'nurs',
 'nutan',
 'obsess',
 'offer',
 'offic',
 'old',
 'older',
 'om',
 'ompuri',
 'onc',
 'onli',
 'open',
 'oper',
 'opposit',
 'order',
 'ordinari',
 'orphan',
 'outsid',
 'owner',
 'padmini',
 'padminikolhapur',
 'pakistan',
 'palati',
 'pandey',
 'parent',
 'parents',
 'pareshraw',
 'parvati',
 'pass',
 'passion',
 'past',
 'path',
 'patient',
 'pay',
 'peopl',
 'people',
 'perform',
 'person',
 'petti',
 'photograph',
 'place',
 'plan',
 'play',
 'plot',
 'poet',
 'polic',
 'police',
 'polit',
 'politician',
 'pooja',
 'poojabhatt',
 'poonamdhillon',
 'poor',
 'popular',
 'possess',
 'power',
 'pradeepkumar',
 'prakash',
 'pran',
 'prasad',
 'pratap',
 'pregnant',
 'preityzinta',
 'prem',
 'present',
 'pretend',
 'priest',
 'prime',
 'princ',
 'prison',
 'privat',
 'priya',
 'priyankachopra',
 'problem',
 'process',
 'produc',
 'profession',
 'professor',
 'promis',
 'properti',
 'propos',
 'prostitut',
 'protect',
 'prove',
 'puri',
 'question',
 'quit',
 'raajkumar',
 'radha',
 'rahul',
 'rai',
 'rais',
 'raj',
 'raja',
 'rajan',
 'rajbabbar',
 'rajendrakumar',
 'rajesh',
 'rajeshkhanna',
 'rajinikanth',
 'rajkapoor',
 'rajkummarrao',
 'raju',
 'rakesh',
 'rakeshbedi',
 'rakeshroshan',
 'rakheegulzar',
 'ram',
 'ramesh',
 'rana',
 'randhirkapoor',
 'rani',
 'ranimukerji',
 'ranjeet',
 'ranjeetakaur',
 'ranvir',
 'rape',
 'ratiagnihotri',
 'raveenatandon',
 'ravi',
 'readi',
 'real',
 'realiti',
 'realiz',
 'receiv',
 'reenaroy',
 'refus',
 'region',
 'rekha',
 'relationship',
 'remain',
 'rent',
 'report',
 'rescu',
 'resid',
 'respect',
 'respons',
 'result',
 'retir',
 'return',
 'reunit',
 'reveal',
 'reveng',
 'revenge',
 'revolv',
 'rich',
 'right',
 'rise',
 'rishi',
 'rishikapoor',
 'riteishdeshmukh',
 'rival',
 'road',
 'rob',
 'rohan',
 'romanc',
 'romant',
 'room',
 'roy',
 'rule',
 'run',
 'rural',
 'ruthless',
 'sacrific',
 'sadashivamrapurkar',
 'sadhana',
 'saga',
 'saifalikhan',
 'sairabanu',
 'salmankhan',
 'sandhya',
 'sanjay',
 'sanjaydutt',
 'sanjaykhan',
 'sanjeevkumar',
 'sapna',
 'save',
 'savitri',
 'saxena',
 'school',
 'sci',
 'scientist',
 'search',
 'second',
 'secret',
 'secur',
 'seek',
 'seema',
 'self',
 'sell',
 'sent',
 'sentenc',
 'separ',
 'seri',
 'serv',
 'servant',
 'set',
 'settl',
 'seven',
 'sever',
 'sexual',
 'shabanaazmi',
 'shah',
 'shahidkapoor',
 'shahrukhkhan',
 'shammikapoor',
 'shankar',
 'shanker',
 'shanti',
 'sharda',
 'share',
 'sharma',
 'sharmilatagor',
 'shashikapoor',
 'shatrughansinha',
 'shekhar',
 'shilpashettykundra',
 'shiva',
 'shobha',
 'shock',
 'short',
 'shortli',
 'shyam',
 'shyama',
 'sibl',
 'simpl',
 'sinc',
 'sing',
 'singer',
 'singh',
 'singl',
 'sinha',
 'sister',
 'sita',
 'slacker',
 'small',
 'smitapatil',
 'smuggler',
 'social',
 'societi',
 'soldier',
 'someth',
 'sometim',
 'son',
 'sonia',
 'soon',
 'spend',
 'spirit',
 'sport',
 'sridevi',
 'srivastav',
 'stand',
 'star',
 'start',
 'state',
 'station',
 'stay',
 'steal',
 'step',
 'stop',
 'stori',
 'story',
 'strang',
 'stranger',
 'street',
 'strike',
 'struggl',
 'student',
 'studi',
 'styl',
 'success',
 'suffer',
 'suicid',
 'suman',
 'sunil',
 'sunildutt',
 'sunilshetti',
 'sunita',
 'sunnydeol',
 'suraj',
 'suresh',
 'surround',
 'surviv',
 'sushmitasen',
 'suspect',
 'sweetheart',
 'synopsi',
 'tabu',
 'taken',
 'tale',
 'talent',
 'tanuja',
 'tara',
 'task',
 'taxi',
 'teach',
 'teacher',
 'team',
 'tell',
 'templ',
 'terror',
 'terrorist',
 'test',
 'thakur',
 'themselv',
 'thi',
 'thief',
 'thiev',
 'thing',
 'think',
 'thriller',
 'thu',
 'time',
 'tinaambani',
 'togeth',
 'told',
 'tough',
 'town',
 'track',
 'tragedi',
 'tragic',
 'train',
 'trap',
 'travel',
 'treat',
 'tri',
 'triangl',
 'trip',
 'troubl',
 'truck',
 'true',
 'truth',
 'turn',
 'tussharkapoor',
 'twin',
 'unabl',
 'uncl',
 'underworld',
 'unemploy',
 'unit',
 'unknown',
 'unmarri',
 'upper',
 'urmilamatondkar',
 'use',
 'variou',
 'vengeanc',
 'veri',
 'verma',
 'vicki',
 'victim',
 'vijay',
 'vikasanand',
 'vikram',
 'villag',
 'village',
 'vinod',
 'vinodkhanna',
 'vinodmehra',
 'vishal',
 'visit',
 'vivekoberoi',
 'vow',
 'vyjayanthimala',
 'wa',
 'waheedarehman',
 'wait',
 'want',
 'war',
 'watch',
 'water',
 'way',
 'wealth',
 'wealthi',
 'wed',
 'widow',
 'wife',
 'win',
 'wish',
 'wit',
 'woman',
 'women',
 'woo',
 'work',
 'worker',
 'world',
 'writer',
 'wrong',
 'year',
 'years',
 'yogeetabali',
 'young',
 'younger',
 'youth',
 'zamindar',
 'zeenataman']

In [128]:
from sklearn.metrics.pairwise import cosine_similarity

In [129]:
similarity = cosine_similarity(vectors)

In [130]:
similarity[0]

array([1.        , 0.20801257, 0.1132277 , ..., 0.09805807, 0.09805807,
       0.16641006])

In [131]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(3469, 0.5661385170722979),
 (2787, 0.4296689244236597),
 (1854, 0.41812100500354543),
 (3174, 0.41812100500354543),
 (4541, 0.41812100500354543)]

In [132]:
def recommend(movie):
    movie_index = bollywood_1950_to_2019[bollywood_1950_to_2019['original_title'] == movie].index[0]
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(bollywood_1950_to_2019.iloc[i[0]].genres)
        print(bollywood_1950_to_2019.iloc[i[0]].original_title)

In [142]:
bollywood_1950_to_2019[bollywood_1950_to_2019['original_title'].str.contains('Uri: The Surgical Strike')]

,imdb_id,original_title,genres,tags
0,tt8291224,Uri: The Surgical Strike,Action Drama War,vickykaush pareshraw action drama war indian a...

In [141]:
recommend('Uri: The Surgical Strike')

Action Crime Drama
Angaar
Action Crime Drama
Indian
Action Crime Drama
Raat Ke Rahi
Action Crime
Smuggler
Action Crime Drama
Khuda Kasam

In [135]:
import pickle

In [136]:
pickle.dump(bollywood_1950_to_2019,open('bollywood_1950_to_2019.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))